.parent {
    position: relative;
    width: fit-content;
}

.wrapper {
    padding: 8px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: min-content;
}

.notification {
    position: absolute;
    right: -0.3rem;
    top: -0.3rem;
    width: 1.2rem;
    height: 1.2rem;
    background-color: #ff6600;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: medium;
    color: black;
    font-weight: bold;
}