html {
    height: 100%;
    height: 100%;
}
.centre, .info, .cart {
    justify-items: center;
    align-content: center;
}

.centre {
    grid-template-rows: 1fr;
    align-items: center;
}

main {
    display: grid;
    grid-template-rows: 0.2fr 2fr;
    height: calc(100vh - 30px); /* Right now setting this height centers it to the middle of the page, but it doesn't fill up the remaining room */
}