.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
  
.image {
    border-radius: 10px;
}

.arrow {
    padding: 1rem;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    user-select: none;
    
    
}


