.map {
    display: grid;
    /* grid-template-columns: repeat( auto-fill, minmax(33.33%, 1fr) ); */
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
    /* justify-content: stretch; */
    gap: 1rem;
}